
h1 { 
	background-color: gray; 	/* Hintergrund */
	color: white; 				/* Schriftfarbe */
	text-align: center; 		/* Textausrichtung */
	font-size: 40px 			/* Schriftgröße */
}

h2 {
    font-size: 26px; 			/* Schriftgröße */
    color: green;				/* Schriftfarbe */
    margin-bottom: 20px;		/* Abstand nach */
    font-weight: bold; 			/* Schriftstärke */
}

h3 {
    font-size: 24px; 			/* Schriftgröße */
    color: black;				/* Schriftfarbe */
    margin-bottom: 20px;		/* Abstand nach */
    font-weight: normal; 		/* Schriftstärke */
    text-align: center;			/* Textausrichtung */
    padding: 10px 20px 10px; 	/* Innenabstand */
}

/* Paragraph */
p {
    font-size: 24px; 			/* Schriftgröße */
    color: black;				/* Schriftfarbe */
    margin-bottom: 20px;
    font-weight: normal; 		/* Schriftstärke */
   
}

table,th,td { 
			border-spacing: 4px; 
			padding: 10px;
			margin-bottom: 20px; 
}

label {
	font-size: 24px;
	color: black;
	padding: 8px;
}

th { 
	background-color: lightslategray; 
	color: white; 
	text-align: left; 
	font-size: 20px
}



td { 
	background-color: powderblue; 
	color: black; 
	font-size: 20px
}

td1{
	color: black; 
	font-size: 20px
}
input[type="submit"],
input[type="button"],

button {
    /* Allgemeine Eigenschaften */
    padding: 10px 20px 10px; /* Innenabstand */
    font-size: 16px; /* Schriftgröße */
    border: none; /* Keine Rahmenlinie */
    cursor: pointer; /* Zeiger-Cursor */

    /* Hintergrund und Farben */
    background-color: MediumSeaGreen; /* Hintergrundfarbe */
    color: white; /* Textfarbe */

    /* Schatten oder Rand */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Schatten */
    border-radius: 5px; /* Abgerundete Ecken */

    /* Zusätzliche Stile je nach Bedarf */
    /* Beispiel für Hover-Effekt */
    transition: background-color 0.3s ease; /* Sanfter Farbübergang */
}


/* In deiner CSS-Datei, z.B. projektwoche_style.css */

/* Stil für das gesamte Dropdown-Menü */
select {
    width: 500px; 				/* Breite des Dropdown-Menüs */
    padding: 20px; 				/* Innenabstand */
    font-size: 16px; 			/* Schriftgröße */
    border: 1px solid #ccc; 	/* Rahmen */
    border-radius: 5px; 		/* Abgerundete Ecken */
    background-color: #f9f9f9; 	/* Hintergrundfarbe */
    color: #333; 				/* Textfarbe */
}

/* Stil für die Optionen im Dropdown-Menü */
option {
    padding: 10px; 				/* Innenabstand */
    font-size: 16px; 			/* Schriftgröße */
    background-color: #fff; 	/* Hintergrundfarbe */
    color: #333; 				/* Textfarbe */
}

/* Hover-Effekt für Optionen */
option:hover {
    background-color: #007bff; /* Hintergrundfarbe beim Hovern */
    color: #fff; /* Textfarbe beim Hovern */
}



